*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{    
    background-color: rgb(19, 15, 15);
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}
body{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.body{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-self: center;
}
.line{
    position: absolute;
    height: 4px;
    width: 100vw;
    top: 5vw;
    left: 0;
    background-color: orange;

}
header{
    max-width: 1152px;
    max-height: 64px;
    width: 90%;
    height: 5vw;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-self: center;
}

.logo{
    width: 33%;
    display: flex;
    justify-content: flex-start;
    align-self: center;
}
.logo svg{
   fill:orange;
   height: 4.5vw;
   width: auto; 
   margin-right: 8px;
}
.logo p{
    color: white;
    width: 100%;
    height: 90%;
    font-size:3.2vw;
    align-self: center;
    font-family:'Comfortaa', cursive;
} 

.unsplashHref{
    cursor: pointer;
    text-decoration: none;
}

@media (min-width:1280px){
    .logo p{
        color: white;
        width: 100%;
        height: 90%;
        font-size: 40.96px;
        align-self: center;
        font-family:'Comfortaa', cursive;
    }   
    .logo svg{
        fill:orange;
        height: 57.6px;
        width: auto; 
        margin-right: 8px;
     }
     .line{
        position: absolute;
        height: 4px;
        width: 100vw;
        top: 64px;
        left: 0;
        background-color: orange;
    }
    main div{
        margin-left: 6.4px;
        margin-right: 6.4px;
        margin-top: 6.4px;
        margin-bottom: 6.4px;
    }
    
}

nav{
    width: 33%;
    height: 50%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-self: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    max-height: 32px;
    max-width: 380.15px;
}
#searchButton{
    height: 100%;
    width: 10%;
    align-content: center;
    align-items: center;
    align-self: center;
    max-height: 57.6px;
    max-width: 52.975px;
}
#searchButton svg{
    fill: white;
    height: 80%;
    width: auto;
    align-self: center;
    margin-left: 0.5em;
    margin-right: 1em;
}

#searchButton svg path{
    stroke: rgb(62, 60, 60);
    margin: 0;
    padding: 0;
}

#searchButton svg:hover path{
    stroke: orange;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#searchForm{
    height: 100%;
    width: 100%;
    border: none;
    align-items: center;
    align-self: center;
    margin-right: 0.5em;
    max-height: 32px;
    max-width: 326.1px;
}
#searchForm input{
    z-index: 1;
    height: 100%;
    width: 100%;
    border: none;
    font-family: 'Comfortaa', cursive;
    font-size: 1.8vw;
    -webkit-appearance: none;
    appearance: none;
    max-height: 32px;
    max-width: 326.1px;
}
#searchForm input::placeholder{
    opacity: 0.4;
    margin: 0;
    padding: 0;
}
#searchForm input:focus,
#searchForm textarea:focus,
#searchForm a:focus{
    border: none;
    background-color: transparent;
    outline: none;
}
main{
    max-width: 1152px;
    width: 90%;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    margin-top: 1vw;
}
main div{
    max-width: 371.2px;
    max-height: 230.4px;
    width: 371.2px;
    height: 230.4px;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    overflow: hidden;
    text-align: center;
    background-position: center;
    border-radius: 5%;
    transition: all 1s;
}

main div:hover{
    max-width: 371.2px;
    max-height: 230.4px;
    width: 371.2px;
    height: 230.4px;
    overflow: hidden;
    text-align: center;
    background-position: center;
    border-radius: 0%;
    transition: all 1s;
    cursor: pointer;
}

footer{
    width: 100vw;
    text-align: center;
    background-color: orange;
}
#logo{
    width: 5%;
    max-width: 43px;
    min-width: 38.4px;
}
footer a {
    text-decoration: none;
    color: black;
}

@media (min-width:1280px){
    .logo p{
        color: white;
        width: 100%;
        height: 90%;
        font-size: 40.96px;
        align-self: center;
        font-family:'Comfortaa', cursive;
    }   
    .logo svg{
        fill:orange;
        height: 57.6px;
        width: auto; 
        margin-right: 8px;
     }
     .line{
        position: absolute;
        height: 4px;
        width: 100vw;
        top: 64px;
        left: 0;
        background-color: orange;
    }
    main div{
        margin-left: 6.4px;
        margin-right: 6.4px;
        margin-top: 6.4px;
        margin-bottom: 6.4px;
    }
    main{
        margin-top: 12.8px;
    }
    #searchForm input{
        z-index: 1;
        height: 100%;
        width: 100%;
        border: none;
        font-family: 'Comfortaa', cursive;
        font-size: 23px;
        -webkit-appearance: none;
        appearance: none;
        max-height: 32px;
        max-width: 326.1px;
    }
    
}
@media (max-width:768px){
    #searchForm input{
        z-index: 1;
        height: 100%;
        width: 100%;
        border: none;
        font-family: 'Comfortaa', cursive;
        font-size: 1.8vw;
        -webkit-appearance: none;
        appearance: none;
        max-height: 32px;
        max-width: 326.1px;
        margin-bottom: 3%;
    }
    #searchButton svg{
        fill: white;
        height: 80%;
        width: auto;
        align-self: center;
        margin-left: 0.5em;
        margin-right: 1em;
        margin-bottom: 3%;
    }
    #searchForm{
        height: 100%;
        width: 100%;
        border: none;
        align-items: center;
        align-self: center;
        margin-right: 1em;
        max-height: 32px;
        max-width: 326.1px;
    }
}   
.showfoto{
    max-width: 1024px;
    position: fixed;
    width: 0;
    height: 0;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    margin: auto;
    border-radius: 5%;
    transition: all 1s;
}
.show{
    width: 80vw !important;
    height: auto !important;
    z-index: 50;
    transition: all 1s;
    cursor: pointer;
}
.overflow{
    overflow-y: hidden !important;
}
.blackout{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 0;
    background-color: rgba(41, 41, 41, 0.6);
    z-index: 0;
}
.on{
    width: 100% !important;
}