html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color:black;
    position: relative;
    display: block;
    min-width: 1280px;
    margin: 0;
    padding: 0;
}
header{
    height: 120px;
    display: block;
    min-width: 1280px;
    min-height: 120px;
    padding: none;
    margin: none;
    position: relative;
}
.header-container{
    position: absolute;
    top: 2.3%;
    left: 3.1%;
    right: 3.1%;
    bottom: 0;
    display: block;
    max-width: 1280px;
    max-height: 60px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.header-logo{
    height: 60px;
    position: absolute;
    top: 0%;
    left: 0%;
}
a.header-logo-title:link,a.header-logo-title:hover,
a.header-logo-title:visited{
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 110%;
    color: #545454;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-align: center;
    height: 35px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

.header-logo-subtitle{
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #292929;
    height: 15px;
    text-align: left;
    padding: none;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}
.header-navigation{
    height: 27px;
    position: absolute;
    right:0%;
    margin-top: auto;
    padding: none;
}
.header-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0%;
    padding: 0%;
}
.header-item{
    margin-right: 35px;
    align-items: center;
    list-style-type: none;
    height: 24px;
}
.header-item:last-child{
    margin-right: 0px;
}
.header-line{
    background-color: #F1CDB3;
    height: 3px;
    padding: none;
    margin: 0;
    top:0%;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
a.header-item-link:hover,a.header-item-link:link,
a.header-item-link:visited{
    height: 24px;
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
    text-decoration: none;
}

a.header-item-link-last:hover,a.header-item-link-last:link,
a.header-item-link-last:visited{
    height: 24px;
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    text-decoration: none;
}
main{
    height: 1342px;
    background: #F6F6F6;
    display: block;
    min-width: 1280px;
    min-height: 1342px;
    margin: none;
    padding: none;
    position: relative;
}
.main-pets{
    height: 1342px;
    width: 1280px;
    display: block;
    max-width: 1280px;
    max-height: 1342px;
    padding-top: 80px;
    padding-bottom: 100px;
    position: absolute;
    top: 80px;
    left: 40px;
    right: 40px;
    bottom: 100px;
    margin: auto;
}
.pets-container{
    height: 1162px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.pets-content{
    width: 400px;
    height: 90px;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
    padding: none;
    text-align: center;
}
.pets-slider-container{
    height: 930px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    flex-direction:row 
}
.pets-card-container{
    height: 435px;
    width: 270;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    background: #FAFAFA;
    border-radius: 9px;
}
.pets-card-container:hover{
    height: 435px;
    width: 270;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    background: #FAFAFA;
    border-radius: 9px;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: slidein;
}
@keyframes slidein {
    from{
        background: #FAFAFA;
    }
    50%{
        background: #CDCDCD;
    }
    to{
        background: #F1CDB3;
    }
}
.img-pets{
    width: 270px;
    height: 270px;
}
.name-pets{
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.button-pets-learn-more{
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family:Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    margin-bottom: 30px;
    background: #FAFAFA;
}
.main-nav-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 340px;
    height: 52px;
}
.button-next{
    box-sizing: border-box;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-size:medium;
    font-weight: 1000;
    color: #292929;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}
.button-now{
    box-sizing: border-box;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background: #F1CDB3;
    color: #292929;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}
.button-last{
    box-sizing: border-box;
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #CDCDCD;
    font-size:medium;
    font-weight: 1000;
    color:  #CDCDCD;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}
footer{
    background-image: url(/yuliadam-JSFEPRESCHOOL2024Q2/shelter/img/footer-background.png);
    background: url(/yuliadam-JSFEPRESCHOOL2024Q2/shelter/img/footer-gradient-background.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    height: 350px;
    display: block;
    min-width: 1280px;
    min-height: 350px;
    padding: none;
    margin: none;
    position: relative;
}
.footer-container{
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 0;
    display: block;
    max-width: 1280px;
    max-height: 310px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
}
.footer-container:last-child{
    padding-bottom: 0;
    padding-top: 0;
}
#footer-contact-container{
    width: 287px;
    height: 234px;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
}
.contact-title{
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.contact-mail{
    width: 251px;
    height: 32px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between
}
.mail-icon{
    height: 32px;
}
.mail{
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.contact-phone{
    width: 239px;
    height: 32px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.phone-icon{
    height: 32px;
}
.phone{
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.footer-address-container{
    width: 302px;
    height: 234px;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
}
.address-title{
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.address-1{
    width: 302px;
    height: 46px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.address-icon{
    height: 32px;
}
.address{
    width: 260px;
    height: 46px;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.address-2{
    width: 302px;
    height: 32px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.address-london{
    width: 260px;
    height: 23px;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}