html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color:black;
    position: relative;
    display: block;
    min-width: 320px;
    min-height: 4684.2px;
    margin: 0;
    padding: 0;
    overflow: auto;
}
.blackout{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(41, 41, 41, 0.6);
    z-index: 0;
}

.on{
    display: block !important;
}

.overflow{
    overflow: hidden !important;
}
#header{
    background-image: url(../img/start-screen-background.jpg);
    background: url(../img/start-screen-gradient-background.jpg), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 823px;
    display: block;
    min-width: 320px;
    min-height: 823px;
    padding: none;
    margin: none;
    position: relative;
}
.header-container{
    position: absolute;
    top: 30px;
    left: 3.5%;
    right: 3.3%;
    bottom: 0;
    display: block;
    max-width: 93.75%;
    max-height: 793px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.header-header{
    height: 60px;
    width: 87.5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.header-logo-container{
    height: 60px;
    width: 186px;
    position: absolute;
    top: 0%;
    left: 2.5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}
a.header-logo-title:link,
a.header-logo-title:visited{
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #F1CDB3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    letter-spacing: 0.06em;
    text-align: left;
    height: 35px;
    transition: all 0.5s ease-in;
}
a.header-logo-title:hover{
    font-family: Georgia;
    font-style:normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #FAFAFA;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    letter-spacing: 0.04em;
    text-align: left;
    height: 35px;
    animation-name: logo;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

@keyframes logo {
    from {
        color: #F1CDB3;
    }
  
    to {
        color: #FAFAFA;
    }
}

.header-logo-subtitle{
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    height: 15px;
    text-align: left;
    padding-left: 4px;
    margin: 0;
}
.header-burger-menu{
    width: 30px;
    height: 22px;
    position: absolute;
    right: 3%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transition: all 0.3s ease 0s;
    z-index: 50;
}

.burger-line{
    width: 30px;
    background-color: #F1CDB3;
    height: 2px;
    padding: none;
    margin: 0;
}

.header-burger-menu.active {
    transform: rotate(90deg) ;
    z-index: 50;
    position: fixed;
    right: 22px;

}

.open {
    right:0 !important;
}

.header-navigation{
    position: fixed;
    height: 100%;
    top:0;
    right:-320px;
    width: 320px;
    background: #292929;
    z-index: 50;
    animation: burger 0.5s;
    transition: all 0.5s ease-in;
    padding-top: 38.5vh;
}

@keyframes burger{
    from{width: 0;}
    to{width: 320px;}
}
.header-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 327px;
    margin: 0;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    animation: list-animation 0.5s;
    
}
@keyframes list-animation{
    from{opacity: 0;}
    50% {opacity: 0;}
    to{opacity: 1;}
}
.header-item{
    align-items: center;
    list-style-type: none;
}
.header-line{
    background-color: #F1CDB3;
    height: 3px;
    padding: none;
    margin: 0;
    top:0%;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
a.header-item-link:link,
a.header-item-link:visited{
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    color: #CDCDCD;
    text-decoration: none;
    transition: all 0.5s ease-in;
}
a.header-item-link:hover{
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    color: #FAFAFA;
    text-decoration: none;
    animation-name: nav;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
@keyframes nav {
    from {
        color: #CDCDCD;
    }
  
    to {
        color: #FAFAFA;
    }
}
a.header-item-link-about:hover,a.header-item-link-about:link,
a.header-item-link-about:visited{
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    color: #FAFAFA;
    text-decoration: none;
    cursor: default;
}






.not-only{
    height: 673px;
    width: 93.75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.header-puppy{
    display: block;
    position: absolute;
    left: 13%;
    bottom: 0;
}
.header-pyppy .img{
    width: 100%;
    height: auto;
}
.alternativ-pyppy {
    height: 0;
    margin: 0;
    padding: 0;
    width: 0;
}
.header-content{
    width: 93.75%;
    height: 296px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-content: center;
    margin : 0;
}
.header-heading{
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 0;
    margin: 0;
    width: 110%;
}
.header-subheading{
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    margin: 0;
    padding: 0;
    width: 111%;
    text-align: center;
}
.make-our-friends{
    margin: 0;
    padding: 0;
    background: #F1CDB3;
    border-radius: 100px;
    width: 207px;
    height: 52px;
    border: none;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    transition: all 0.5s ease-in;
}

.make-our-friends:hover{
    background: #FDDCC4;
    border-radius: 100px;
    width: 207px;
    height: 52px;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    cursor: pointer;
    animation-name: make-our-friend;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
@keyframes make-our-friends {
    from {
        background: #F1CDB3;
    }
  
    to {
        background: #FDDCC4;
    }
}

main{
    display: block;
    min-width: 320px;
    min-height: 3052.2px;
    margin: none;
    padding: none;
    position: relative;
}
#about{
    display: block;
    min-width: 320px;
    height: 974px;
    margin: none;
    padding-top: 43.5px;
}

.about-container{
    width: 93.75%;
    height: 890px;
    display: flex;
    padding: 0;
    flex-direction:column-reverse;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.about-pets-img{
    width: 260px;
}
.about-content{
    width: 90%;
    height: 494px;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
}
.about-heading{
    height: 64px;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
    margin: 0;
}
.about-subheading{
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    margin: 0;
    text-align: justify;
}
#our-friends{
    height: 791px;
    display: block;
    min-width: 320px;
    margin: none;
    background: #F6F6F6;
    padding-top: 42px;
    
}
.pets-container{
    height: 707px;
    width: 95.75%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
}
.pets-content{
    height: 64px;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
    padding: none;
    text-align: center;
    margin-bottom: 18.5px;
}
.pets-slider-container{
    height: 435px;
    width: 270px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    flex-direction:row 
}

.pets-primary-button{
    background: #F1CDB3;
    border-radius: 100px;
    width: 261px;
    height: 52px;
    border: none;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    transition: all 0.5s ease-in;
}


.pets-primary-button:hover{
    background:#FDDCC4;
    cursor: pointer;
    width: 261px;
    height: 52px;
    border: none;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    animation-name: primary-button;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
@keyframes pets-primary-button {
    from {
        background: #F1CDB3;
    }
  
    to {
        background: #FDDCC4;
    }
}

.button-arrow-container{
    height: 52px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6%;
}
.button-arrow-320{
    box-sizing: border-box;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-size:medium;
    font-weight: 1000;
    color: #292929;
    transition: all 0.5s ease-in;

}
.button-arrow{
display: none;
}
.button-arrow-320:hover{
    box-sizing: border-box;
    width: 52px;
    height: 52px;
    border: 2px solid #FDDCC4;
    border-radius: 100px;
    font-size:medium;
    font-weight: 1000;
    color: #292929;
    background: #FDDCC4;
    cursor: pointer;
    animation-name: arrow;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
@keyframes arrow {
    from {
        border: 2px solid #F1CDB3;
        background: none;
    }
  
    to {
        border: 2px solid #FDDCC4;
        background: #FDDCC4;
    }
}
.pets-card-container-last-card{
    display: none;
}
.pets-card-container{
    height: 435px;
    width: 270px;
    margin-right: 1.7%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    background: #FAFAFA;
    border-radius: 9px;
    transition: all 0.5s ease-in;
}
.pets-card-container:hover{
    height: 435px;
    width: 270px;
    margin-right: 1.7%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    background: #FFFFFF;
    border-radius: 9px;
    cursor: pointer;
    animation-name: slidein;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
@keyframes slidein {
    from {
        background: #FAFAFA;
    }
  
    to {
        background: #FFFFFF;
    }
}
.pets-card-container:hover .button-pets-learn-more,
.pets-card-container-mind:hover .button-pets-learn-more{
    width: 187px;
    height: 52px;
    border: 2px solid #FDDCC4;
    border-radius: 100px;
    font-family:Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    margin-bottom: 30px;
    background: #FDDCC4;
    cursor: pointer;
    animation-name: burron-pets-learn-more;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.pets-card-container-mind{
display: none;
}
.img-pets{
    width: 270px;
    height: 270px;
}
.name-pets{
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.button-pets-learn-more{
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family:Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    margin-bottom: 30px;
    background: #FAFAFA;
    transition: all 0.5s ease-in;
}

.button-pets-learn-more:hover{
    width: 187px;
    height: 52px;
    border: 2px solid #FDDCC4;
    border-radius: 100px;
    font-family:Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    margin-bottom: 30px;
    background: #FDDCC4;
    cursor: pointer;
    animation-name: burron-pets-learn-more;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
@keyframes burron-pets-learn-more {
    from {
        border: 2px solid #F1CDB3;
        background: none;
    }
  
    to {
        border: 2px solid #FDDCC4;
        background: #FDDCC4;
    }
}
#help{
    height: 745px;
    display: block;
    min-width: 320px;
    margin: none;
    padding-top: 13%;
}
.help-container{
    height: 703px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.help-heading{
    width: 225px;
    height: 64px;
    margin: 0;
    padding: 0;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
}
.help-list{
    width: 90%;
    height: 597px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0%;
    padding: 0%;
}
.help-item,.help-item-vitamins,
.help-item-last{
    width: 130px;
    height: 87px;
    margin: 0;
    align-items: center;
    list-style-type: none;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
}
.help-item-last{
    margin-left: 0;
}
.help-item:first-child{
    margin-right: 0;
}

.help-list-icon{
    width: 50px;
    height: auto;
}
.help-item p, .help-item-vitamins p{
    margin-top: 18px;
    margin-bottom: 0;
}
#in-addition{
    height: 542.2px;
    display: block;
    min-width: 320px;
    background: #F6F6F6;
    align-content: center;
    margin: auto;
    padding-left: 6.2%;
    padding-right: 6.2%;
}
.donation-container{
    height: 458.2px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
.donation-img{
    width: 260px;
    height: auto;
}
.donation-content{
    width: 100%;
    height: 282px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.donation-heading{
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    width: 93.75%;
    height: 64px;
}
.donation-subheading{
    font-family:Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.donation-info{
    font-family: Arial;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: justify;
}
.donation-credit-card{
    width: 100%;
    height: 43px;
    max-width: 349px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 15px;
    background: #F1CDB3;
    border-radius: 9px;
    transition: all 0.5s ease-in;
}
.donation-credit-card:hover{
    width: 100%;
    height: 43px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 15px;
    background: #FDDCC4;
    cursor: pointer;
    border-radius: 9px;
    animation-name: donation-card;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
@keyframes donation-card {
    from {
        background: #F1CDB3;
    }
  
    to {
        background: #FDDCC4;
    }
}
.credit-icon{
    width: 30px;
    height: 23px;
}
a.donation-number:hover,a.donation-number:visited,
a.donation-number:link{
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 10%;
    letter-spacing: 0.06em;
    color: #545454;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;

}

footer{  
    background: url(../img/footer-background.png);
    background: url(../img/footer-gradient-background.png),  radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    background-size: cover;
    height: 809px;
    display: block;
    min-width: 320px;
    padding: none;
    margin: none;
    position: relative;
}
.footer-container-768{
    width: 93.75%;
    height: 809px;
    padding-top: 30px;
    padding-left: 3.1%;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    flex-direction: column;
    justify-content: space-between;
}
.footer-container{
    margin: 0;
    width: 100%;
    height: 470px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
#contact{
    width: 287px;
    height: 208px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin:0;
}
.contact-title{
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.contact-mail{
    width: 251px;
    height: 32px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between
}
.mail-icon{
    height: 32px;
    transition: all 0.5s ease-in;
}
.mail-icon:hover{
    height: 32px;
    transform: scale(1.2);
    z-index: 2;
    animation-name: footer-icon;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
@keyframes footer_icon {
    from {
        transform: scale(1);
        z-index: 1;
    }

    to {
        transform: scale(1.2);
        z-index: 2;
    }
}
a.mail:active,a.mail:link{
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
    transition: all 0.5s ease-in;
}
a.mail:active,a.mail:hover{
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #FDDCC4;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
    animation-name: footer;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
.contact-phone{
    width: 239px;
    height: 32px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.phone-icon{
    height: 32px;
    transition: all 0.5s ease-in;
}
.phone-icon:hover{
    height: 32px;
    transform: scale(1.2);
    z-index: 2;
    animation-name: footer-icon;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
a.phone{
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none ;
    transition: all 0.5s ease-in;
}
a.phone:hover{
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-decoration: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    color: #FDDCC4;
    animation-name: footer;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
.footer-address-container{
    width: 300px;
    height: 222px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
}
.address-title{
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
.address-1{
    width: 302px;
    height: 46px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.address-icon{
    height: 32px;
    transition: all 0.5s ease-in;
}
.address-icon:hover{
    height: 32px;
    transform: scale(1.2);
    z-index: 2;
    animation-name: footer-icon;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
a.address{
    width: 260px;
    height: 46px;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
    transition: all 0.5s ease-in;
}
a.address:hover{
    width: 260px;
    height: 46px;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #FDDCC4;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
    animation-name: footer;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
.address-2{
    width: 302px;
    height: 32px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
a.address-london{
    width: 260px;
    height: 23px;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
    transition: all 0.5s ease-in;
}
a.address-london:hover{
    width: 260px;
    height: 23px;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #FDDCC4;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
    animation-name: footer;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
@keyframes footer {
    from {
        color: #F1CDB3;
    }
  
    to {
        color: #FDDCC4;
    }
}
.footer-puppy{
display: none;
}
.footer-puppy-768{
    width: 260px;
    height: auto;
    display:block;
    margin: auto;
    position: absolute;
    bottom: 0;
    right: 9.5%
    }
















